* {
	font-family: "Roboto", sans-serif;
}

.label {
	margin: auto;
	background: black;
	width: 115px;
	font-weight: 400;
	font-size: 11px;
	padding: 5px 20px;
}

.title {
	margin-top: 35px;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
}

.title__text {
	font-weight: 400;
	font-size: 17px;
	text-align: center;
}

header {
	position: relative;
	height: 50px;
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background: rgb(33, 33, 33);
	z-index: 2;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu__item {
	border-right: 2px dotted white;
	padding-right: 30px;
}

.menu__link {
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
}

.subheader {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 85px;
	background: rgba(0, 0, 0, .6);
}

.subheader_logo {
	margin-top: 15px;
	display: block;
	max-width: 100%;
}

.subheader_official {
	margin-top: 6px;
	font-weight: 400;
	font-size: 13px;
	color: rgb(255, 255, 255);
}

.subheader_call {
	margin-top: 20px;
	font-weight: 300;
	font-size: 12px;
	color: rgb(255, 255, 255);
	text-align: right;
}

.subheader_phone {
	display: block;
	font-weight: 400;
	font-size: 22px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: right;
	line-height: 12px;
}

.subheader_btn {
	display: block;
	margin-top: 20px;
	width: 160px;
	height: 45px;
	background: rgb(30, 172, 199);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border: 3px solid rgba(0, 0, 0, 0.07);
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 14px;
	border-radius: 4px
}

.promo {
	background: url('../img/uber_bg.png') center center / cover no-repeat;
	min-height: 800px;
	padding: 150px 0 135px 0;
}

.promo h1 {
	margin-top: 90px;
	font-weight: 700;
	font-size: 60px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
}

.promo h2 {
	margin-top: 20px;
	font-weight: 700;
	font-size: 35px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
}

.promo p {
	margin-top: 65px;
	font-weight: 400;
	font-size: 18px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.promo_btn{
	display: block;
	margin: 120px auto 0 auto;
	width: 260px;
	height: 65px;
	border: 3px solid rgba(0, 0, 0, 0.07);
	background: rgb(30, 172, 199);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 18px;
}

.privilege {
	padding: 20px 0 65px 0;
}

.label {
	color: rgb(255, 255, 255);
}

.title {
	color: rgb(34, 34, 34);;
}

.privilege__item {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.privilege__round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
	width: 115px;
	height: 115px;
	background: rgb(30, 172, 199);
	border-radius: 100%;
}

.privilege__desc {
	width: 370px;
}

.privilege_subtitle {
	font-weight: 400;
	font-size: 17px;
	color: rgb(30, 172, 199);
}

.privilege_text {
	font-weight: 300;
	font-size: 15px;
	color: rgb(32, 32, 32);
}

.mobile {
	background: url('../img/mobile_bg.png') center center / cover no-repeat;
	padding: 50px 0 80px 0;
}

.mobile .row {
	margin-top: 30px;
}

.mobile__item {
	margin-bottom: 20px;
	padding: 80px 10px;
	width: 320px;
	height: 300px;
	background: url('../img/card_bg/Карточка\ 1.png');
}

.card_1 {
	background: url('../img/card_bg/Карточка\ 1.png');
}

.card_2 {
	background: url('../img/card_bg/Карточка\ 2.png');
}

.card_3 {
	background: url('../img/card_bg/Карточка\ 3.png');
}

.card_4 {
	background: url('../img/card_bg/Карточка\ 4.png');
}

.card_5 {
	background: url('../img/card_bg/Карточка\ 5.png');
}

.card_6 {
	background: url('../img/card_bg/Карточка\ 6.png');
}

.mobile__title {
	position: relative;
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 25px;
	text-align: center;
}

.mobile__round {
	position: absolute;
	bottom: 45px;
	left: 45%;
	transform: translateX(-50%);
	background: rgb(0, 0, 0);
	border-radius: 100%;
	width: 30px;
	height: 30px;
	font-weight: 900;
	font-size: 20px;
	color: rgb(218, 218, 218);
	text-align: center;
	cursor: pointer;
}

.choice {
	position: relative;
	background: rgb(7, 7, 22);
	padding-top: 60px;
	height: 500px;
}

.label {
	background: white;
	color: black;
}

.title {
	color: white;
}

.title__text {
	color: white;
}

.choice_img {
	display: block;
	position: absolute;
	z-index: 2;
	top: 40px;
}

.substrate {
	background: url('../img/mobile_bg.png') center center / cover no-repeat;
	padding: 210px 0 140px 0;
}

.substrate p {
	display: block;
	margin: auto;
	width: 327px;
	height: 48px;
	font-weight: 300;
	font-size: 17px;
	color: rgb(34, 34, 34);
	text-align: center;
}