* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.title__colored {
	font-size: 41px;
	line-height: 41px;
	color: #F9BF3B;
}

.title__big {
	font-size: 80px;
	line-height: 80px;
	color: #FFFFFF;
}

.btn {
	min-width: 315px;
	min-height: 72px;
	margin: 60px auto;
	padding: 0 15px;
	display: block;
	border-radius: 4px;
	background: linear-gradient(0deg, #FF4D00 0%, #FEB05D 100%);background: linear-gradient(0deg, #FF4D00 0%, #FEB05D 100%);
	font-size: 21px;
	font-weight: 500;
	line-height: 24.61px;
	text-align: center;
	color: white;
	cursor: pointer;
}

.promo {
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	min-height: 800px;
	padding: 20px 0 50px 0;
}

.container {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
}

.title {
	font-family: Roboto;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.logo__img {
	display: block;
	margin: 0 auto;
}

.logo__text {
	margin-top: 10px;
	text-align: center;
	margin-top: 10px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.promo h1 {
	margin-top: 52px;
}

.promo h2 {
	margin-top: 12px;
}

.promo .btn {
	margin-top: 75px;
}

.promo__text {
	margin-top: 20px;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	color: white;
}

.promo span {
	color: #F9BF3B;
	text-transform: uppercase;
}

.promo__more-text {
	margin-top: 75px;
	font-size: 15px;
	font-weight: 500;
	line-height: 17.58px;
	text-align: center;
	color: #FFFFFF;
}

.promo__more-img {
	display: block;
	margin: 10px auto 0 auto;
}

.intensive {
	background-color: #EFEFEF;;
	padding: 80px 0 90px 0;
}

.intensive h2 {
	font-size: 30px;
	font-weight: 500;
	line-height: 35.16px;
	text-align: center;
	color: #252525;;
}

.divider {
	width: 220px;
	height: 7px;
	background: #F9BF3B;
	margin: 14px auto 0 auto;
}

.intensive h3 {
	margin-top: 15px;
	margin-top: 36px;
	font-size: 23px;
	font-weight: 500;
	text-align: center;
	color: #4A4A4A;
}

.intensive__wrapper {
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
}

.intensive__item {
	width: 340px;
}

.intensive__img {
	width: 100%;
}

.intensive__descr {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	text-align: center;
	color: #4A4A4A;;
}

.info {
	background-color: #0F0B0B;
	padding: 100px 0 140px 0;
}

.info h2 {
	font-size: 30px;
	font-weight: 900;
	text-align: right;
	color: #F9BF3B;;
}

.info__text {
	position: relative;
	padding-left: 390px;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	text-align: right;
	z-index: 2;
}

.info__text.medium {
	font-weight: 900;
}

.info__img {
	width: 500px;
	height: 300px;
	position: absolute;
	position: absolute;
	top: 93px;
	left: -43px;
	z-index: 1;
}

.skills {
	background: url('../img/secondary_bg.jpg') center center / cover no-repeat;
	padding: 80px 0 100px 0;
}

.skills h2 {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	color: #FFFFFF;
}

.skills__wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.skills__item {
	width: 220px;
}

.skills__round {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #F9BF3B;
	width: 115px;
	height: 115px;
	border-radius: 100%;
}

.skills__desc {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: #EFEFEF;
}

.present {
	background-color:#EFEFEF;
	padding: 80px 0 80px 0;
}

.present__img {
	display: block;
	margin: 0 auto;
}

.present p {
	margin-top: 80px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

