* {
	font-family: "Roboto", sans-serif;
}

nav {
	height: 50px;
	background: rgb(33, 33, 33);
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu__item {
	border-right: 2px dotted white;
	padding-right: 30px;
}

.menu__link {
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
}


